* {
    font-family: "Liga SFMono Nerd Font";
    font-size: 14px;
    text-shadow: 0px 0px 5px black;
}

window#waybar {
    background-color: rgba(1, 1, 1, 0.8); /* Black background with slight transparency */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite, window#waybar.chromium {
    background-color: #000000; /* Black background for specific applications */
    border: none;
}


button.urgent {
    background-color: #eb4d4b;
    color: #ffffff;
    border-radius: 8px;
}

/* Workspace Buttons */
#workspaces button {
    color: #ffffff;
}

#workspaces button:hover {
    color: rgba(0, 0, 0, 0.9);
}

#workspaces button.active {
}

#workspaces button.visible {
    color: #b405ff;
    font-weight: bold;
}

/* Module Styling */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio-slider,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-cava,
#custom-endvr,
#pulseaudio,
#workspaces,
#window{
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*border: 10px;*/
    /*border-color: #ffffff;*/
    /*border-radius: 8px;*/
    /*background-color: #000000;*/
}

#mpd {
}
#window{
    font-weight: bold;
}
#clock{
    padding-right: 15px;
}

#battery {
}

#battery.charging, #battery.plugged {
    color: #26A65B;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#cpu, #temperature.critical {
}

#memory {
}

#disk {
}

#backlight, #network, #network.disconnected {
}

#network.disconnected {
}


#pulseaudio-slider slider {
}
#pulseaudio-slider trough {
}
#pulseaudio-slider highlight {
}

#pulseaudio {
    padding-left: 20px;
}

#pulseaudio.muted, #wireplumber.muted {
}

#wireplumber {
}

#custom-media {
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
}

#mpd {
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language, #keyboard-state {
    color: #ffffff;
    border-radius: 8px;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(255, 255, 255, 0.1);
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
    border-radius: 8px;
}

#privacy-item.screenshare {
}

#privacy-item.audio-in {
}

#privacy-item.audio-out {
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#scratchpad.empty {
}
#custom-endvr {
    color: #b405ff;
    padding-left: 20;
    font-size: 20;
}



